.navbar {
  grid-area: navbar;
  background: red;
  padding: 20px;
  height: 300px;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  margin-bottom: 5px;
}

.item a {
  color: white;
  text-decoration: none;
}